@model IQueryable<string>

<div class="d-grid gap-2">
    <a class="btn btn-secondary"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="">
        Home
    </a>
    
    @foreach (var category in Model)
    {
        <a type="button" class="btn btn-primary 
           @(category == ViewBag.SelectedCategory 
               ? "btn-primary" 
               : "btn-secondary")"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category"
           asp-route-productPage="1">
            @category
        </a>
    }
</div>